body {
  font-family: sans-serif;
  padding: 20px;
  background: #f7f7f7;
}

input, button {
  margin: 10px;
  padding: 6px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
}

th, td {
  border: 1px solid #aaa;
  padding: 6px;
  text-align: center;
}

th {
  background: #222;
  color: white;
}